body { padding-top: 30px; }
.nowrap { white-space: nowrap; }
div.player { margin-bottom: 30px; }
div.player img { margin-right: 10px; }
div.player .track { font-size: 2em; font-weight: bold; }
div.player .artist { font-size: 1em; font-style: italic; margin-bottom: 10px; }
#player {}
