{% extends "playlists/base.html" %}
{% load bootstrap %}
{% load track %}

{% block css %}
<style>
    span.track { font-weight: bold; display: block; }
    span.artist { display: block; }
    input.playlist-name { font-size: 2em; padding: 0.5em; display: block; }
    .right { text-align: right !important; }
</style>
{% endblock %}

{% block js %}
<script>
$(function() {
    $('#search').typeahead({
        minLength: 3,
        items: 8,
        source: function(query, process) {
            $.ajax({
                url: '{% url "ajax-tracks" %}',
                data: {q: query, n: 8},
                dataType: 'json',
                success: function(data) {
                    $.each(data, function(idx, item) {
                        item.toString = function() { return JSON.stringify(item); }
                    });
                    process(data);
                }
            });
        },
        matcher: function(item) {
            return true;
        },
        sorter: function(items) {
            return items;
        },
        updater: function(item) {
            var obj = JSON.parse(item);
            var row = '<tr>';
            row += '<td><i class="icon-reorder handle"></i></td>';
            row += '<td>' + obj.track + '<input type="hidden" name="tracks" value="' + obj.pk + '" /></td>';
            row += '<td>' + obj.artist + '</td>';
            row += '<td class="right">' + obj.length + '</td>';
            row += '<td class="right"><a class="btn btn-mini delete"><i class="icon-remove"></i></a></td>';
            row += '</tr>';
            $('#tracks').append(row);
            return '';
        },
        highlighter: function(item) {
            var html = '<span class="track">' + item.track + '</span>';
            var line = [];
            if(item.artist)
                line.push(item.artist);
            if(item.album)
                line.push(item.album);
            if(line)
                html += '<span class="artist">' + line.join(' &mdash; ') + '</span>';
            return html;
        }
    });
    $('#tracks').sortable({
        axis: 'y',
        cursor: 'move',
        handle: '.handle'
    });
    $('body').on('click', 'a.delete', function(e) {
        var row = $(this).parent().parent();
        row.remove();
    });
    $('#search').focus().select();
});
</script>
{% endblock %}

{% block content %}
<div class="row-fluid">

<div class="span3">
    <ul class="nav nav-list">
        <li class="nav-header">Owner</li>
        <li class="disabled"><a href="">{{ playlist.owner }}</a></li>
        <li class="nav-header">Created</li>
        <li class="disabled"><a href="">{{ playlist.date_created }}</a></li>
        <li class="nav-header">Modified</li>
        <li class="disabled"><a href="">{{ playlist.date_modified }}</a></li>
    </ul>
</div>

<div class="span9">
    <form action="" method="post">
        <input type="text" class="input-xxlarge playlist-name" name="name" id="id_name" value="{{ playlist.name }}" />
        <input type="text" class="input-xlarge" id="search" placeholder="Start typing to add a track..." />
        <table class="table table-striped playlist-tracks">
            <thead><tr>
                <th></th>
                <th>Track</th>
                <th>Artist</th>
                <th class="right">Length</th>
                <th class="right"></th>
            </tr></thead>
            <tbody id="tracks">
                {% for track in playlist.get_tracks %}
                <tr>
                    <td><i class="icon-reorder handle"></i></td>
                    <td>{{ track.name }}<input type="hidden" name="tracks" value="{{ track.pk }}" /></td>
                    <td>{{ track.artist }}</td>
                    <td class="right">{{ track.length|track_length }}</td>
                    <td class="right"><a class="btn btn-mini delete"><i class="icon-remove"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save Playlist</button>
            <button type="button" class="btn">Cancel</button>
        </div>
    </form>
</div>

</div>
{% endblock %}
