{% extends "playlists/base.html" %}
{% load track %}

{% block content %}
<div class="row-fluid">

<div class="span3">
</div>

<div class="span9">
    <table class="table">
        <thead><tr>
            <th>Name</th>
            <th>Owner</th>
            <th>Tracks</th>
        </tr></thead>
        <tbody>
            {% for p in playlists %}
            <tr>
                <td><a href="{% url "playlist-edit" playlist_id=p.pk %}">{{ p.name }}</a></td>
                <td>{{ p.owner }}</td>
                <td>{{ p.queryset.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url "playlist-create" %}" class="btn">Create Playlist</a>
</div>

</div>
{% endblock %}
